.banner{
  width: 1200px;
  height: 471px;
}
@media(max-width: 1500px){
  .banner{
    width: 891px;
    height: 350px
  }
}
@media(max-width: 850px){
  .banner{
    width: auto;
    height: 123px;
    
  }
}
