
.head{
  font-family: 'DaysOne', sans-serif;
  text-indent: 1.25em;
  letter-spacing: 1.25em;
  color: #000000;
  opacity: 1;
}

/* @media (max-width: 770px){
  .head{
    font-family: 'DaysOne', sans-serif;
    letter-spacing: .25em;
    margin-right: -.25em;
    color: #000000;
    opacity: 1;
  }
} */
