.tab li:hover{
  background-color: #74bedb;
  font-family: 'SpaceMono';
}
.tab{
  font-family: 'SpaceMonoReg', monospace;
  font-size: 1em;
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.albumPic{
  width: 100%;
  height: 100%;

}
.emailPop{
  position: absolute;
  top: 200px;
  left: 400px;
  right: 400px;
  bottom: 200px;
  border: 1px solid black;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
}
.emailOverlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
.albumPop{
  position: absolute;
  top: 25vh;
  left: 38vw;
  right: 38vw;
  bottom: 30vh;
  border: 1px solid black;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
}
.albumOverlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
@media(max-width: 770px){
  .emailPop{
    position: absolute;
    top: 225px;
    left: 25px;
    right: 25px;
    bottom: 225px;
    border: 1px solid black;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
  }
  .emailOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
  }
  .albumPop{
    position: absolute;
    top: 250px;
    left: 25px;
    right: 25px;
    bottom: 250px;
    border: 1px solid black;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
  }
  .albumOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
  }
}
